venv
audiobook-tts/hf_cache
audiobook-tts/_testing
audiobook-tts/temp
speakers/*.wav
speakers/*.mp3
cline.md
1-raw-text/*
2-annotated-text/*.txt
3-output/*.wav
3-output/*.mp3
3-output/*.ogg
3-output/*.flac
3-output/*.opus
3-output/*.m4a
*/__pycache__
gpt_secret_key.txt
audiobook-tts/models
audiobook-tts/src/__pycache__
0-xNext
0-speakers/*
!0-speakers/a_female_calm_young.bin
!0-speakers/a_female_kind_professional.bin
!0-speakers/a_female_mature_sultry.bin
!0-speakers/a_female_young_playful.bin
!0-speakers/a_male_average_joe.bin
!0-speakers/b_male_mature_serious.bin
!0-speakers/a_male_mature_shrewd_experienced.bin
!0-speakers/b_male_radio_speaker_announcer.bin
!0-speakers/a_male_teen_young_adult.bin
!0-speakers/a_male_very_deep_grumbling.bin
!0-speakers/b_female_admonishing_disapointed.bin
!0-speakers/b_female_dutch_inquisitive.bin
!0-speakers/b_female_mature_eager.bin
!0-speakers/b_female_mature_russian.bin
!0-speakers/b_male_relaxed_chill_lazy.bin
!0-speakers/s_male_german_young_friendly.bin
!0-speakers/s_male_mature_intellectual.bin
!0-speakers/a_female_kind_professional.bin
!0-speakers/a_female_calm_young.bin